.item1 {
    grid-area: header;
    background-color: yellow;
}
.item2 {
    grid-area: menu;
    background-color: rgb(237,28,36);
}
.item3 {
    grid-area: main;
    background-color: rgb(0,162,232);
    }
.item4 {
    grid-area: footer;
    background-color: pink;
    }

.grid-container {
   height: 100vh;
   width: 100vw;
  display: grid;
  grid:
  'header header header'
  'menu main main'
  'menu main main'
  'footer footer footer';
  grid-gap: 10px;
  background-color: #FFFFFF;
  padding: 10px;
}
